@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #deefff;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

button,
a {
  cursor: pointer;
}

section {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  letter-spacing: -0.02em;
}

::selection {
  background: #15803d;
  color: white;
}